<meta charset="UTF-8">
<title>Document</title>

<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>

<!-- FireBase -->
<script>
// Initialize Firebase
var config = {
	apiKey: "AIzaSyDP2E1VGBqnwkFHamqWj9Rd0lMRLkqdvE4",
	authDomain: "memorygame-82f14.firebaseapp.com",
	databaseURL: "https://memorygame-82f14.firebaseio.com",
	storageBucket: "memorygame-82f14.appspot.com",
	messagingSenderId: "1042864262504"
};
firebase.initializeApp(config);
</script>
