<meta charset="UTF-8">
<title>Document</title>

<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="http://fonts.googleapis.com/earlyaccess/notosanstc.css" rel="stylesheet">
<link rel="stylesheet" href="assets/CSS/all.css">
<link rel="stylesheet" href="assets/CSS/gamelobby.css">

<!-- FireBase -->
<script>
// Initialize Firebase
var config = {
	apiKey: "AIzaSyASoh2OjHgNFAfu_UI7rT1sa3NKui-3D7E",
    authDomain: "pokergame-407e6.firebaseapp.com",
    databaseURL: "https://pokergame-407e6.firebaseio.com",
    storageBucket: "pokergame-407e6.appspot.com",
    messagingSenderId: "190173330964"
};
firebase.initializeApp(config);


</script>
