html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*----------------------------------------------*/
.background{
    width: 100%;
    background-image: url("../image/background.jpg");
}
.wrap{
    width: 800px;
    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Quicksand', sans-serif,'Noto Sans TC', sans-serif;
    min-height: 100%;
    text-align: center;
}
.header{
    margin-bottom: 30px;
}
h1{
    font-size: 35px;
    font-weight: 200;
    border-radius: 5px;
    background: #3399FF;
    color: #fff;
    line-height: 50px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}
.content{
    height: 720px;
    border:2px solid #898989;
    border-radius: 5px;
    box-sizing: border-box;
}