#enter_h1{
	display: none;
}
.room_area{
	width:70%;
	height: 100%;
	border-right: 1px solid #898989;
	text-align: center;
	padding-top: 110px;
	box-sizing: border-box;
	float: left;
	background: #fff;
}
.game_area{
	position: relative;
	width:70%;
	height: 100%;
	border-right: 1px solid #898989;
	text-align: center;
	padding-top: 110px;
	box-sizing: border-box;
	float: left;
	display: none;
	background: #fff;
}
.game{
	width:400px;
	height: 500px;
	margin: auto;
	margin-bottom: 20px;
}
.game ul{
	margin-bottom: 12.5px;
	float: left;
}
.game li{
	width: 100px;
	height: 100px;
	text-align: center;
}
.button{
	text-align: center;
	width: 50px;
	height: 50px;
	font-size: 18px;
	color: #202B4C;
	border: 1px solid #202B4C;
	float: left;
	border-radius: 3px;
	background: #fff;
	font-family: 'Quicksand', sans-serif;
	cursor: pointer;
	margin-left: 25px;
	margin-right: 25px;
}
.button:hover{
	color: #fff;
	background: #202B4C;
	border: none;
}
.wait{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width:100%;
	height: 100%;
	padding-top: 25px;
	box-sizing: border-box;
	display: none;
}
.wait p{
	font-size: 30px;
	font-weight: 200;
}
.result{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 900px;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
	display: none;
}
.result_window{
	position: absolute;
	top:200px;
	left:600px;
	width: 350px;
	height: 200px;
	border-radius: 5px;
	background: #7C809B;
	color: #fff;
	text-align: center;
	z-index: 2;
}
.result_window hr{
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	border: 1px solid #BCBCBC;
}
.result_window p{
	font-size: 24px;
	font-weight: 200;
	line-height: 180px;
	font-family: 'Quicksand', sans-serif,'Noto Sans TC', sans-serif;
}
.room{
	width: 200px;
	height: 280px;
	border:1.5px solid #898989;
	border-radius: 5px;
	text-align: center;
	margin: auto;
	padding-top: 50px;
	box-sizing: border-box;
	margin-bottom: 50px;
}
.room li{
	list-style: none;
	float: left;
	width: 25%;
	margin-bottom: 50px;
}
.room img{
	width: 50px;
	height: 50px;
}
.clear{
	clear: both;
}
.combo{
	text-align: center;
	font-size: 24px;
	display: none;
}
.combo b{
	font-weight: 200;
}
/*------------------按鈕--------------------*/
@-webkit-keyframes queue-animation {
  from {background: white; color: #3399FF; width: 100px;}
  to {background:#3399FF; border-color: #3399FF; color: #ffffff; width: 100px;}
}
@-webkit-keyframes unqueue-animation {
  from {background: #3399FF; color: #ffffff; width: 100px;}
  to {background: white; border-color: #3399FF; color: #3399FF; width: 100px;}
}
/* Standard syntax */
@keyframes queue-animation {
  from {background: white; color: #3399FF; width: 100px;}
  to {background: #3399FF; border-color: #3399FF; color: #ffffff; width: 100px; }
}
@keyframes unqueue-animation {
  from {background: #3399FF; color: #ffffff; width: 100px;}
  to {background: white; border-color: #3399FF; color: #3399FF; width: 100px; }
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
input {
  -webkit-appearance: none;
  margin-bottom: 10px;
}
input:after {
  color: #3399FF;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  font-weight: 200;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #3399FF;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 5px 10px;


  content: '加入房間';
  -webkit-animation: unqueue-animation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-fill-mode:forwards;
  animation: unqueue-animation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode:forwards;
}

input:checked:after {
  content: '取消排隊';
  -webkit-animation: queue-animation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-fill-mode:forwards;
  animation: queue-animation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode:forwards;
}
.join_disable{
	width: 120px;
	height: 35px;
	font-size: 16px;
    font-weight: 200;
	display:none;
	font-family: 'Noto Sans TC', sans-serif;
	margin-bottom: 10px;
	border-radius: 3px;
}
.play{
	width: 120px;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: #fff;
	padding: 5px 10px;
	background: #01abad;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
button[disabled=disabled]{
	border: 1px solid #BCBCBC;
	background: #FFF;
	color: #BCBCBC;
	cursor: default;
}
button[disabled=disabled]:hover{
	border: 1px solid #BCBCBC;
	background: #FFF;
	color: #BCBCBC;
	cursor: default;
}
.msg_area{
	width: 30%;
	height: 100%;
	float: right;
	padding-top: 30px;
	box-sizing: border-box;
	background: #fff;
}
h2{
	font-weight: 200;
	margin-bottom: 15px;
	font-size: 18px;
}
h3{
	font-weight: 200;
}
h4{
	font-weight: 200;
	font-size: 18px;
	text-align: center;
	margin-bottom: 15px;
}
h5{
	font-weight: 200;
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.rule{
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
}
.rule p{
	text-align: left;
	font-weight: 200;
	margin-bottom: 10px;
}
.msg_area p{
	font-weight: 200;
	margin-bottom: 5px;
}
.msg_area2{
	width: 30%;
	height: 100%;
	font-size: 20px;
	float: right;
	padding-top: 30px;
	box-sizing: border-box;
	display: none;
	background: #fff;
}
.msg_area2 p{
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	font-size: 24px;
	font-weight: 200;
	margin-bottom: 15px;
}
.msg_area2 b{
	font-weight: 200;
	margin-bottom: 5px;
}
hr{
	width: 90%;
	border: 2px solid #7C809B;
	margin-bottom: 15px;
}
.end{
	margin-top: 20px;
	display: none;
	font-size: 20px;
	background: #fff;
	cursor: pointer;
	border-radius: 3px;
	font-family: 'Noto Sans TC', sans-serif;
	color: #A9AFD1;
	border: 1px solid #A9AFD1;
	line-height: 35px;
	margin-right: auto;
	margin-left: auto;
}
.end:hover{
	background: #A9AFD1;
	color: #fff;
}
#countdown{
	font-size: 20px;
	font-weight: 200;
}