<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include ../partials/head %>
	<title>遊戲大廳</title>
	<script>
		var socket = io.connect();
		var user_id;
		var joined_player;
		var enter_id;
		var currentUserId;
       	var	userName;
        var email;
		var player_id;
		var turn_id;
		var now_turn;
		var buttonid = new Array(); //藉由buttonid去DB抓值用
		var buttonval = new Array();//藉由buttonid去DB抓值用
		var clickcount = 0;
		var PK = 0;
		var allCardVal = new Array();//存所有牌值的陣列
		var cd = 1 ;
		var point = 0;
		var combo = 0;
		var game_over = new Array();//存資料庫牌狀態的陣列
		var false_num = 0; //資料庫狀態牌的數量
		var a = 0;
		var username;
		var playing_player = 0;

		firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            currentUserId = user.uid;
       		userName = user.displayName;
            email = user.email;
            console.log(userName);
            console.log(currentUserId);
        }
    });

	</script>
</head>

<body>
	<div class="wrap">
		<div class="header">
			<h1 class="h1">遊戲大廳</h1>
			<h1 id='enter_h1'>記憶小遊戲</h1>
		</div>
		<div class="content">
			<div class="room_area">
				<div class="room">
					<li><img src="image/player.png" id="player_1"></li>
					<li><img src="image/player.png" id="player_2"></li>
					<li><img src="image/player.png" id="player_3"></li>
					<li><img src="image/player.png" id="player_4"></li>
					<div class="clear"></div>
					<input type="checkbox" id="join"><button type="submit" class="join_disable" disabled="disabled">房間已滿!</button><br>
					<button type="submit" id="play_btn" class="play" disabled="disabled">Play!</button>
				</div>

				<script>
					socket.emit('add user');
					socket.on('usernum',function(user_num){
						console.log('現在人數:'+user_num);
						console.log('hello?');
						$('.msg_area h2').html('目前在線人數：'+user_num);

					});
					//socket.on('check_list_num');

					$( document ).on( "click", "#join", function(){
							if($("#join").prop("checked")){
								console.log(user_id);
								socket.emit('player_num_plus',user_id);		
							}
							else{
								socket.emit('player_num_del');
							}
					});	
					
					socket.on('get_user_id',function(userID){
						console.log('socketID:'+userID);
						user_id = userID;
					});

					socket.on('check_player_num',function(room){
							joined_player = room.playernum;
							switch(room.playernum){
								case 0:
									$("#player_1").attr("src","image/player.png");
									$("#player_2").attr("src","image/player.png");
									$("#player_3").attr("src","image/player.png")
									$("#player_4").attr("src","image/player.png")
									console.log('case0');
									break;
								case 1:
									$("#player_1").attr("src","image/player_joined.png");
									$("#player_2").attr("src","image/player.png");
									$("#player_3").attr("src","image/player.png")
									$("#player_4").attr("src","image/player.png")
									console.log('case1');
									break;
								case 2:
									$("#player_1").attr("src","image/player_joined.png");
									$("#player_2").attr("src","image/player_joined.png");
									$("#player_3").attr("src","image/player.png")
									$("#player_4").attr("src","image/player.png")
									console.log('case2');
									break;
								case 3:
									$("#player_1").attr("src","image/player_joined.png");
									$("#player_2").attr("src","image/player_joined.png");
									$("#player_3").attr("src","image/player_joined.png")
									$("#player_4").attr("src","image/player.png")
									console.log('case3');
									break;
								case 4:
									$("#player_1").attr("src","image/player_joined.png")
									$("#player_2").attr("src","image/player_joined.png")
									$("#player_3").attr("src","image/player_joined.png")
									$("#player_4").attr("src","image/player_joined.png")
									console.log('case4');
									break;					
							}
					});//End
					socket.on('set_enter_id',function(room){
						enter_id = room.enter_id;
					});
					socket.on('full_result',function(){
						if(enter_id == 1){
							document.getElementById("play_btn").disabled = false;
						}
						else{
							$("#join").hide();
							$(".join_disable").show();
							$("#play_btn").attr("disabled","disabled");
						}
					});

					socket.on('empty_result',function(room){
						if(enter_id == 1){
							$("#play_btn").attr("disabled","disabled");
						}
						else{
							$("#join").show();
							$(".join_disable").hide();
							$("#play_btn").attr("disabled","disabled");						
						}
					});
				</script>
			</div>

			<div class="game_area">
				<div class="game">
					<ul>
						<li><button onClick="reply_clickid(this.id)" class='button' id='1'></button></li>
						<li><button onClick="reply_clickid(this.id)" class='button' id='2'></button></li>
						
					</ul>
					<ul>
						<li><button onClick="reply_clickid(this.id)" class='button' id='3'></button></li>
						<li><button onClick="reply_clickid(this.id)" class='button' id='4'></button></li>
					</ul>
					<ul>
						<li><button onClick="reply_clickid(this.id)" class='button' id='5'></button></li>
						<li><button onClick="reply_clickid(this.id)" class='button' id='6'></button></li>
					</ul>
					<ul>
						<li><button onClick="reply_clickid(this.id)" class='button' id='7'></button></li>
						<li><button onClick="reply_clickid(this.id)" class='button' id='8'></button></li>
						
					</ul>
				</div>
				<div class="combo">
					combo <span class="combo_num"></span>
				</div>
				<div class="wait">
					<p>還沒輪到你~</p>
				</div>
			</div>
			<script>
				//紀錄8張牌的值以及其狀態
				for(var i = 1 ; i <= 8 ; i++) {	
					Database.ref('Cards/' +i).update({
						'cards_status': true
					});
				}

				function reply_clickid(clicked_id){
					console.log('clicked_id:' +clicked_id);
					buttonid[PK] = clicked_id;
					console.log('this is buttonid: '+buttonid)

					firebase.database().ref('Cards/'+clicked_id).on('value', function(snapshot) {
						buttonval[PK] = snapshot.val().cards_value;
						console.log('this is buttonval: ' +buttonval);
						console.log('PK: '+PK);
						//判斷玩家點兩下之後換人
						clickcount++;
						socket.emit("click_card",clicked_id);
						

						if(clickcount==2){
							//判斷牌的value是否一樣
							if(buttonval[0] == buttonval[1]) {
								//通知所有玩家，並將牌disable，此玩家繼續
								socket.emit('same_value_a',buttonid[0],buttonid[1],buttonval[0],buttonval[1]);		
							}
							else{
								//通知所有玩家，牌的狀態不變，玩家換人
								socket.emit('different_value',buttonid[0],buttonid[1],buttonval[0],buttonval[1]);
								socket.emit('add_turn');													
							}
						}
						PK++;	
					});
				}

				//觸發所有人翻一張牌
				socket.on('turn_card',function (clicked_id){
					$('#'+clicked_id).attr("disabled","disabled");
					$('#'+clicked_id).html('<p>'+allCardVal[clicked_id-1]+'</p>');
				});
				//將所有排的val存在此陣列
				
					for ( cd = 1 ; cd<=8 ; cd++){
						firebase.database().ref('Cards/'+cd+'/cards_value').on('value', function(hihihi) {
							allCardVal.push(hihihi.val());
							console.log('allCardVal: '+allCardVal);
						});
					}
				
				socket.on('same_value_b',function(btn_id_1,btn_id_2,btn_val_1,btn_val_2) {    //玩家改寫資料庫牌狀態為false
					buttonid[0] = btn_id_1;
					buttonid[1] = btn_id_2;
					buttonval[0] = btn_val_1;
					buttonval[1] = btn_val_2;
					//combo++;
					console.log('翻出的牌為'+buttonid[0]+'號牌: '+buttonval[0]+' & '+buttonid[1]+'號牌: '+buttonval[1]);
					Database.ref('Cards/' +btn_id_1).update({
						'cards_status': false
					});
					Database.ref('Cards/' +btn_id_2).update({
						'cards_status': false
					});

					if(player_id == now_turn){
						if(combo>=2){
							point = point+10*combo;
							socket.emit('send_point',user_id,point);
						}
						else{
							point = point+10;
							console.log(user_id);
							socket.emit('send_point',user_id,point);
						}
					}

					check_end();
					buttonid = [];
					buttonval = [];
					clickcount = 0;
					PK = 0;
				});

				socket.on('different_value',function(btn_id_1,btn_id_2,btn_val_1,btn_val_2) {
					console.log('翻出的牌為'+btn_id_1+'號牌: '+btn_val_1+' & '+btn_id_2+'號牌: '+btn_val_2);
					console.log('牌值不同，換人翻牌.');
					$('#'+btn_id_1).delay(100).queue(function(next) { $(this).attr("disabled",false); next();});
					//$('#'+buttonid[0]).delay(1000).html('');
					$('#'+btn_id_1).delay(100).queue(function(next) { $(this).html(""); next();});

					//$('#'+buttonid[1]).delay(1000).attr("disabled",false);
					$('#'+btn_id_2).delay(100).queue(function(next) { $(this).attr("disabled",false); next();});
					$('#'+btn_id_2).delay(100).queue(function(next) { $(this).html(""); next();});

					//$('#'+buttonid[1]).delay(1000).html('');
					buttonid = [];
					buttonval = [];
					clickcount = 0;
					PK = 0;
					combo = 0;
				});

				socket.on('show_combo',function(combo_num){
					$(".combo").fadeIn(300);
					$(".combo_num").html("<b> "+combo_num+" !!!</b>");
					$(".combo").delay(600).fadeOut(300);
				});

				$('#play_btn').click(function(){
					$('.room_area').hide();
					$('.h1').hide();
					$('.msg_area').hide();
					$('.game_area').show();
					$('#enter_h1').show();
					$('.msg_area2').show();
					socket.emit('get_id',currentUserId,user_id);
					socket.on('give_id',function(room){
						player_id = room.player_id;
						console.log('player_id:'+player_id);
						socket.emit('link_player',user_id,player_id);
					});
					socket.on('getFB_ID',function(display_user){
						if(display_user.length == 4){
							for(var i = 0 ; i < 4 ; i++){	
								firebase.database().ref('users/'+display_user[i]).on('value', function(getname) {
									console.log(getname.val().username);
									username = getname.val().username;
									console.log('username：'+username);

									$("#user_"+i).html("<b>"+username+":</b>");
									console.log('after css username:'+username);
								});
								
							}
						}
					});
					socket.emit('send_point',user_id,point);
					console.log('分數:'+point);

					//playing_player
					//playing_player++;
					socket.emit('plus_playing_player',playing_player);

				});

				//plus_playing_player(接收sever傳回來的playing_player)
				socket.on('plus_playing_player_a', function(playing_player) {
					playing_player = playing_player;
					console.log('playing_player: '+playing_player);
				});


				////中途有人離開遊戲，遊戲停止
				socket.on('someone_depart', function() {
					$('.button').attr("disabled","disabled");
					playing_player = 0;
					socket.emit('plus_playing_player',playing_player);
					socket.emit('gameover');
				});

				socket.on('set_turn_id',function(room){
					turn_id = room.turn_id;
					console.log('現在排隊號碼是:'+turn_id);
				});

				socket.on('check_turn_id',function(room){
					turn_id = room.turn_id;
					now_turn = turn_id%4;
					console.log(now_turn);
					if(player_id == now_turn){
						$('.wait').fadeOut(500);
					}
					else{
						$('.wait').fadeIn(500);
					}
				});

				socket.on('show_point',function(player_point){
					a++;
					console.log('a='+a);
					for(i=0;i<player_point.length;i++){
						console.log('player_'+i+':'+player_point[i]);
						$("#point_"+i).html("<p>"+player_point[i]+"</p>");
					}				
				});
				
				
				function check_end(){
					if(false_num != 8){
						false_num = false_num + 2 ;
						console.log('現在資料庫內false數量為：'+ false_num);
						if(false_num == 8){				
							socket.emit('readtogameover');
						}
					}else{				
						console.log('現在資料庫內false數量為：'+ false_num);
						socket.emit('readtogameover');
					}
				}	
				
				socket.on('do_gameover', function(){   //呼叫遊戲結束
					false_num = 0;
					game_over = [];
					socket.emit('gameover');
					console.log('變數重置完成');
				});

				socket.on('returnindex', function(){
					//出現分數、玩家誰獲勝
					$('.end').show();
				});

				socket.on('clear_all',function(player_point,clear_player,clear_enter){
					player_id = clear_player;
					enter_id = clear_enter;
					for(i=0;i<player_point.length;i++){
						console.log('player_'+i+':'+player_point[i]);
						$("#point_"+i).html("<p>"+player_point[i]+"</p>");
					}
				});
				function golobby(){
					window.location.replace('http://fb-nodejs-pokergame.herokuapp.com/gamelobby');
					enter_id = 0;
					for(i=0;i<4;i++){
						$("#point_"+i).html("<p>0</p>");
					}		
				}
			</script>
			<div class="msg_area">
				<h2>目前線上人數：</h2>
				<script>
					firebase.auth().onAuthStateChanged(function (user) {
        				if (user) {
           					currentUserId = user.uid;
       						userName = user.displayName;
            				Database.ref('users/' + currentUserId).once('value').then(function(snapshot) {
								var cc = snapshot.val().username;
								console.log('currentUserId:'+currentUserId);
        						console.log('使用者姓名：'+cc);
        						$('.msg_area').append('<h3>歡迎：'+cc+ '</h3>');
        					});
        				}else{
        					window.location.replace('http://fb-nodejs-pokergame.herokuapp.com/');
        				}
    				});
					
        		
        		</script>
			</div>
			<div class="msg_area2">
				<p>計分表</p>
				<hr>
				
				<b id ='user_1'></b> <div id="point_0"></div>
				<b id ='user_2'></b> <div id="point_1"></div>
				<b id ='user_3'></b> <div id="point_2"></div>
				<b id ='user_4'></b> <div id="point_3"></div>
				
			</div>
		</div>
		<button onclick='golobby()' class ='end'>遊戲結束，回首頁</button>
	</div>
</body>
</html>