<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include ../partials/head %>
	<title>遊戲大廳</title>
	<script>
		var socket = io.connect();
		var joined_player;
		var enter_id;
	</script>
</head>

<body>
	<div class="wrap">
		<div class="header">
			<h1>遊戲大廳</h1>
		</div>
		<div class="content">
			<div class="room_area">
				<div class="room">
					<li><img src="image/player.png" id="player_1"></li>
					<li><img src="image/player.png" id="player_2"></li>
					<li><img src="image/player.png" id="player_3"></li>
					<li><img src="image/player.png" id="player_4"></li>
					<div class="clear"></div>
					<input type="checkbox" id="join"><button type="submit" class="join_disable" disabled="disabled">房間已滿!</button><br>
					<a href="/gaming"><button type="submit" id="play_btn" class="play" disabled="disabled">Play!</button></a>
				</div>

				<script>

					$( document ).on( "click", "#join", function(){
							if($("#join").prop("checked")){
								socket.emit('player_num_plus');
								console.log('click');			
							}
							else{
								socket.emit('player_num_del');
							}
					});	
						
					socket.on('check_player_num',function(room){
							joined_player = room.playernum;
							switch(room.playernum){
								case 0:
									$("#player_1").attr("src","image/player.png");
									$("#player_2").attr("src","image/player.png");
									$("#player_3").attr("src","image/player.png")
									$("#player_4").attr("src","image/player.png")
									console.log('case0');
									break;
								case 1:
									$("#player_1").attr("src","image/player_joined.png");
									$("#player_2").attr("src","image/player.png");
									$("#player_3").attr("src","image/player.png")
									$("#player_4").attr("src","image/player.png")
									console.log('case1');
									break;
								case 2:
									$("#player_1").attr("src","image/player_joined.png");
									$("#player_2").attr("src","image/player_joined.png");
									$("#player_3").attr("src","image/player.png")
									$("#player_4").attr("src","image/player.png")
									console.log('case2');
									break;
								case 3:
									$("#player_1").attr("src","image/player_joined.png");
									$("#player_2").attr("src","image/player_joined.png");
									$("#player_3").attr("src","image/player_joined.png")
									$("#player_4").attr("src","image/player.png")
									console.log('case3');
									break;
								case 4:
									$("#player_1").attr("src","image/player_joined.png")
									$("#player_2").attr("src","image/player_joined.png")
									$("#player_3").attr("src","image/player_joined.png")
									$("#player_4").attr("src","image/player_joined.png")
									console.log('case4');
									break;					
							}
					});//End
					socket.on('set_enter_id',function(room){
						enter_id = room.enter_id;
					});
					socket.on('full_result',function(){
						if(enter_id == 1){
							document.getElementById("play_btn").disabled = false;
						}
						else{
							$("#join").hide();
							$(".join_disable").show();
							$("#play_btn").attr("disabled","disabled");
						}
					});

					socket.on('empty_result',function(room){
						if(enter_id == 1){
							$("#play_btn").attr("disabled","disabled");
						}
						else{
							$("#join").show();
							$(".join_disable").hide();
							$("#play_btn").attr("disabled","disabled");						
						}
					});
				</script>
			</div>
			<div class="msg_area">
				<h2>目前在線人數: 1人</h2>
		</div>
	</div>
</body>
</html>