<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include ../partials/head %>
	<title>遊戲大廳</title>
	<script>
		var socket = io.connect();
		var user_id;
		var joined_player;
		var enter_id;
		var currentUserId;
       	var	userName;
        var email;
		var player_id;
		var turn_id;
		var now_turn;
		var buttonid = new Array(); //藉由buttonid去DB抓值用
		var buttonval = new Array();//藉由buttonid去DB抓值用
		var clickcount = 0;
		var PK = 0;
		var allCardVal = new Array();//存所有牌值的陣列
		var cd = 1 ;

		firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            currentUserId = user.uid;
       		userName = user.displayName;
            email = user.email;
            console.log(userName);
            console.log(currentUserId);
        }
    });

	</script>
</head>

<body>
	<div class="wrap">
		<div class="header">
			<h1 class="h1">遊戲大廳</h1>
			<h1 id='enter_h1'>記憶小遊戲</h1>
		</div>
		<div class="content">
			<div class="room_area">
				<div class="room">
					<li><img src="image/player.png" id="player_1"></li>
					<li><img src="image/player.png" id="player_2"></li>
					<li><img src="image/player.png" id="player_3"></li>
					<li><img src="image/player.png" id="player_4"></li>
					<div class="clear"></div>
					<input type="checkbox" id="join"><button type="submit" class="join_disable" disabled="disabled">房間已滿!</button><br>
					<button type="submit" id="play_btn" class="play" disabled="disabled">Play!</button>
				</div>

				<script>

					$( document ).on( "click", "#join", function(){
							if($("#join").prop("checked")){
								console.log(user_id);
								socket.emit('player_num_plus',user_id);		
							}
							else{
								socket.emit('player_num_del');
							}
					});	
					socket.emit('add user');
					socket.on('get_user_id',function(userID){
						console.log(userID);
						user_id = userID;
					});

					socket.on('check_player_num',function(room){
							joined_player = room.playernum;
							switch(room.playernum){
								case 0:
									$("#player_1").attr("src","image/player.png");
									$("#player_2").attr("src","image/player.png");
									$("#player_3").attr("src","image/player.png")
									$("#player_4").attr("src","image/player.png")
									console.log('case0');
									break;
								case 1:
									$("#player_1").attr("src","image/player_joined.png");
									$("#player_2").attr("src","image/player.png");
									$("#player_3").attr("src","image/player.png")
									$("#player_4").attr("src","image/player.png")
									console.log('case1');
									break;
								case 2:
									$("#player_1").attr("src","image/player_joined.png");
									$("#player_2").attr("src","image/player_joined.png");
									$("#player_3").attr("src","image/player.png")
									$("#player_4").attr("src","image/player.png")
									console.log('case2');
									break;
								case 3:
									$("#player_1").attr("src","image/player_joined.png");
									$("#player_2").attr("src","image/player_joined.png");
									$("#player_3").attr("src","image/player_joined.png")
									$("#player_4").attr("src","image/player.png")
									console.log('case3');
									break;
								case 4:
									$("#player_1").attr("src","image/player_joined.png")
									$("#player_2").attr("src","image/player_joined.png")
									$("#player_3").attr("src","image/player_joined.png")
									$("#player_4").attr("src","image/player_joined.png")
									console.log('case4');
									break;					
							}
					});//End
					socket.on('set_enter_id',function(room){
						enter_id = room.enter_id;
					});
					socket.on('full_result',function(){
						if(enter_id == 1){
							document.getElementById("play_btn").disabled = false;
						}
						else{
							$("#join").hide();
							$(".join_disable").show();
							$("#play_btn").attr("disabled","disabled");
						}
					});

					socket.on('empty_result',function(room){
						if(enter_id == 1){
							$("#play_btn").attr("disabled","disabled");
						}
						else{
							$("#join").show();
							$(".join_disable").hide();
							$("#play_btn").attr("disabled","disabled");						
						}
					});
				</script>
			</div>

			<div class="game_area">
				<div class="game">
					<ul>
						<li><button onClick="reply_clickid(this.id)" class='button' id='1'></button></li>
						<li><button onClick="reply_clickid(this.id)" class='button' id='2'></button></li>
						
					</ul>
					<ul>
						<li><button onClick="reply_clickid(this.id)" class='button' id='3'></button></li>
						<li><button onClick="reply_clickid(this.id)" class='button' id='4'></button></li>
					</ul>
					<ul>
						<li><button onClick="reply_clickid(this.id)" class='button' id='5'></button></li>
						<li><button onClick="reply_clickid(this.id)" class='button' id='6'></button></li>
					</ul>
					<ul>
						<li><button onClick="reply_clickid(this.id)" class='button' id='7'></button></li>
						<li><button onClick="reply_clickid(this.id)" class='button' id='8'></button></li>
						
					</ul>
				</div>
				<div class="wait">
					<p>還沒輪到你~</p>
				</div>
			</div>
			<script>
				//紀錄8張牌的值以及其狀態
				/*
				for(var i = 1 ; i <= 8 ; i++) {	
					Database.ref('Cards/' +i).set({
						'cards_value': i,
						'cards_status': true
					});
				}
				*/

				
				


				function reply_clickid(clicked_id){
					console.log('clicked_id:' +clicked_id);
					buttonid[PK] = clicked_id;
					console.log('this is buttonid: '+buttonid)

					firebase.database().ref('Cards/'+clicked_id).on('value', function(snapshot) {
						buttonval[PK] = snapshot.val().cards_value;
						console.log('this is buttonval: ' +buttonval);
						console.log('PK: '+PK);
						//判斷玩家點兩下之後換人
						clickcount++;
						socket.emit("click_card",clicked_id);
						

						if(clickcount==2){
							//判斷牌的value是否一樣
							if(buttonval[0] == buttonval[1]) {
								//通知所有玩家，並將牌disable，此玩家繼續
								socket.emit('same_value_a',buttonid[0],buttonid[1],buttonval[0],buttonval[1]);		
							}
							else{
								//通知所有玩家，牌的狀態不變，玩家換人
								socket.emit('different_value',buttonid[0],buttonid[1],buttonval[0],buttonval[1]);
								socket.emit('add_turn');													
							}
						}
						PK++;	
					});
				}

				//觸發所有人翻一張牌
				socket.on('turn_card',function (clicked_id){
					$('#'+clicked_id).attr("disabled","disabled");
					$('#'+clicked_id).html('<p>'+allCardVal[clicked_id-1]+'</p>');
				});
				//將所有排的val存在此陣列
				
					for ( cd = 1 ; cd<=8 ; cd++){
						firebase.database().ref('Cards/'+cd+'/cards_value').on('value', function(hihihi) {
							console.log('hihihihihi');
							//allCardVal[cd-1] = hihihi.val();
							allCardVal.push(hihihi.val());
							console.log('allCardVal: '+allCardVal);
						});
					}
				



				socket.on('same_value_b',function(btn_id_1,btn_id_2,btn_val_1,btn_val_2) {
					buttonid[0] = btn_id_1;
					buttonid[1] = btn_id_2;
					buttonval[0] = btn_val_1;
					buttonval[1] = btn_val_2;
					console.log('翻出的牌為'+buttonid[0]+'號牌: '+buttonval[0]+' & '+buttonid[1]+'號牌: '+buttonval[1]);
									console.log('牌值相同，玩家繼續.');
					//$('#'+buttonid[0]).html('<p>'+buttonval[0]+'</p>');
					//$('#'+buttonid[1]).html('<p>'+ buttonval[1]+'</p>');
					buttonid = [];
					buttonval = [];
					clickcount = 0;
					PK = 0;
				});
				socket.on('different_value',function(btn_id_1,btn_id_2,btn_val_1,btn_val_2) {
					console.log('翻出的牌為'+btn_id_1+'號牌: '+btn_val_1+' & '+btn_id_2+'號牌: '+btn_val_2);
					console.log('牌值不同，換人翻牌.');
					$('#'+btn_id_1).delay(100).queue(function(next) { $(this).attr("disabled",false); next();});
					//$('#'+buttonid[0]).delay(1000).html('');
					$('#'+btn_id_1).delay(100).queue(function(next) { $(this).html(""); next();});

					//$('#'+buttonid[1]).delay(1000).attr("disabled",false);
					$('#'+btn_id_2).delay(100).queue(function(next) { $(this).attr("disabled",false); next();});
					$('#'+btn_id_2).delay(100).queue(function(next) { $(this).html(""); next();});

					//$('#'+buttonid[1]).delay(1000).html('');
					buttonid = [];
					buttonval = [];
					clickcount = 0;
					PK = 0;
				});


				$('#play_btn').click(function(){
					$('.room_area').hide();
					$('.h1').hide();
					$('.game_area').show();
					$('#enter_h1').show();
					socket.emit('get_id');
					socket.on('give_id',function(room){
						player_id = room.player_id;
						console.log('player_id:'+player_id);
					});
				});

				socket.on('set_turn_id',function(room){
					turn_id = room.turn_id;
					console.log('現在排隊號碼是:'+turn_id);
				});

				socket.on('check_turn_id',function(room){
					turn_id = room.turn_id;
					now_turn = turn_id%4;
					console.log(now_turn);
					if(player_id == now_turn){
						$('.wait').fadeOut(500);
					}
					else{
						$('.wait').fadeIn(500);
					}
				});
			</script>
			<div class="msg_area">
				
				<h2>目前在線人數: 1人</h2>
				<script>
					Database.ref('users/' + currentUserId).on('value', function(snapshot) {
        			console.log(snapshot.val());
        			//$('.msg_area').append('<p>歡迎回來：'+ snapshot.userName + '</p>');
					//document.write('<h3>歡迎回來' + snapshot.userName + '</h3>');
				});
				</script>

		</div>
	</div>
</body>
</html>