<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link href="http://fonts.googleapis.com/earlyaccess/notosanstc.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/assets/CSS/all.css">
	<link rel="stylesheet" href="../../public/assets/CSS/room.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<title>記憶遊戲</title>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<h1>房間1</h1>
		</div>
		<div class="content">
			<div class="game_area">
				
			</div>
			<div class="msg_area"></div>
		</div>
	</div>
</body>
</html>